<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cityhub.mapper.TicketMapper">

    <select id="queryTicketOfActivity" resultType="com.cityhub.entity.Ticket" parameterType="java.lang.Long">
        SELECT
            t.`id`, t.`activity_id`, t.`title`, t.`sub_title`, t.`rules`, t.`pay_value`,
            t.`actual_value`, t.`type`, st.`stock`, st.`begin_time`, st.`end_time`
        FROM tb_ticket t
        LEFT JOIN tb_seckill_ticket st ON t.id = st.ticket_id
        WHERE t.activity_id = #{activityId} AND t.status = 1
    </select>
</mapper>
